*
{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}

.home
{
    width: 100%;
    padding: 30px 40px;
    background: #1f1e21;
}
.home .top_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.home .top_container .left_container{
    padding: 10px 20px;
    background: linear-gradient(to right,#1f1e21, #141414 );
    border-radius: 10px;
    height: 20px;
    
}